main{	
	display: grid;
	width: 95%;
	margin: auto;
	min-height: 900px;
  grid-template-rows:   repeat(4,25%); 
  grid-template-columns: repeat(4,24%);
  justify-content: space-between;
  align-content: space-between;
  grid-gap: 1vw;
}

main>div{
	background-color: cadetblue;
	display: grid;
	justify-items: center;
	padding: 10px;
	height: auto;
}


#grid1{
grid-row: 2;
grid-column: 1 /span 2;
display: flex;
}

#grid2{
	grid-row: 2;
	grid-column: 3 /span 2;
	display: flex;
}

#grid3{
	grid-row: 3;
	grid-column: 1;
	
}

#grid4{
	grid-row: 3;
	grid-column: 2 
}

#grid5{
	grid-row: 3;
	grid-column: 3 
}

#grid6{
	grid-row: 3;
	grid-column: 4 
}

img{
	width: 80%;
	height: 20vh;
	object-fit: cover;
	}

	